{% macro new(link) %}
    <a class="btn btn-outline-success" title="{{ 'Create new'|trans }}" href="{{ link }}">
        <span class="bi-plus-lg"></span>
    </a>
{% endmacro %}

{% macro edit(link) %}
    <a class="btn btn-outline-info" title="{{ 'Edit'|trans }}" href="{{ link }}">
        <span class="bi-pencil"></span>
    </a>
{% endmacro %}

{% macro delete(title) %}
    <button class="btn btn-outline-danger" title="{{ title }}">
        <span class="bi-trash"></span>
    </button>
{% endmacro %}

{% macro back(link) %}
    <a class="btn btn-outline-secondary" href="{{ link }}" title="{{ 'Back to list'|trans }}">
        <span class="bi-arrow-left"></span>
    </a>
{% endmacro %}

{% macro ok(title) %}
    <button class="btn btn-outline-success" title="{{ title }}">
        <span class="bi-check-lg"></span>
    </button>
{% endmacro %}
