{% extends 'base.html.twig' %}

{% block title %}
    {{ maxfield.name }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}

{% block body %}
    {# {{dump(maxfield)}} #}
    <div id="map"></div>

    <script>
        {#const gpxString = '{{ maxfield.gpx|raw }}'#}
        const gpxString = '{{ gpx|raw }}'
    </script>
{% endblock %}


