{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Login{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h2>Login</h2>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('connect_google_start') }}" title="Google Login">
                            <img src="{{ asset('build/images/btn_google_signin_dark_normal_web.png') }}"
                                 alt="Google Login">
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('connect_github_start') }}" title="GitHub Login"
                           class="btn btn-outline-success">
                            <svg version="1.1" width="32" height="32" viewBox="0 0 16 16"
                                 class="octicon octicon-mark-github" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                            </svg>
                            Login with Github
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                {% if 'dev' == app.environment %}
                    <h2>Dev</h2>
                    <form class="form-inline" role="form" method="post" action="{{ path('login') }}">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.message }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <input id="identifier" class="form-control" name="identifier" value="{{ last_username }}"
                                   placeholder="identifier" required autofocus>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('login') }}">

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
