{% import '_/buttons.html.twig' as buttons %}

{{ form_start(form) }}

<div class="row">
    <div class="col-sm-6">
        <div class="form-floating">
            {{ form_widget(form.userIdentifier) }}
            {{ form_label(form.userIdentifier) }}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-floating">
            {{ form_widget(form.role) }}
            {{ form_label(form.role) }}
        </div>
    </div>
</div>

{{ form_widget(form) }}

    {{ buttons.ok(button_label|default('Save'|trans)) }}

{{ form_end(form) }}
